<%= render "layouts/errors", :object => @recipient %>

<% if @recipients.any? %>
    <%= form_tag(new_recipient_memento_path(@recipient.id)) %>
    <%= label_tag :name %>
    <%= select_tag :name, options_from_collection_for_select(@recipients, "id", "name") %>
    <%= submit_tag "Create" %>
  <hr>
<% end %>

<%= form_for [@recipient] do |f| %>
  <div class="form_field">
    <%= f.label :name, "Enter their name" %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class="form_field">
    <%= f.label :relation, "Who are they (co-worker, friend, spouse)" %>
    <br>
    <%= f.text_field :relation %>
  </div>
  <div class="form_field">
    <%= f.label :email, "Enter their e-mail (optional for sending)" %>
    <br>
    <%= f.email_field :email %>
  </div>
  <%= f.submit "Create" %>
<% end %>
