<%= render "layouts/errors", :object => @collection %>
 <div class="form-box">
   <h2>Update Memento for <%= @collection.name %></h2>

   <%= form_for [@collection, @memento], url: collection_memento_path(@collection, @memento), html: { multipart: true } do |f| %>
   <div class="form_field">
     <%= f.label :title, "Title" %>
     <br>
     <%= f.text_field :title %>
   </div>
   <div class="form_field">
     <% if @memento.image %>
      <%= f.label :current_image %>
      <br>
      <%= image_tag @memento.image.url, class: 'small_memento_image' %>
      <% else %>
     <%= f.label :image %>
     <br>
     <% end %>
     <%= f.file_field :image %>
   </div>
   <div class="form_field">
     <%= f.label :body, "Body" %>
     <br>
     <%= f.text_area :body %>
   </div>
   <div class="form_field">
     <%= f.label :date %>
     <br>
     <%= f.date_field :time_to_send %>
   </div>
   <%= f.submit "Update Memento", class: 'form-button' %>
   <% end %>

 </div>
