<%= render "layouts/errors", :object => @collection %>
 <div class="form-box">
   <h2>Create a memento for <%= @collection.title %></h2>

   <%= form_for [@collection, @memento], url: collection_mementos_path(@collection), html: { multipart: true } do |f| %>
   <div class="form_field">
     <%= f.label :title, "Title" %>
     <br>
     <%= f.text_field :title %>
   </div>
   <div class="form_field">
     <%= f.label :image %>
     <br>
     <%= f.file_field :image %>
   </div>
   <div class="form_field">
     <%= f.label :body, "Body" %>
     <br>
     <%= f.text_area :body %>
   </div>
   <%= f.submit "Create Memento", class: 'form-button' %>
   <% end %>

 </div>
