


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Mement'ohs", root_path %>
  </div>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="navbar-menu" id="navMenu">
      <span aria-hidden="true">
        <%= link_to "Create", new_recipient_path, class: "navbar-item" %>
      </span>
      <span aria-hidden="true">
        <% if current_user %><%= link_to "View Collection", recipients_path, class: "navbar-item" %><% end %>
      </span>
    <% if current_user %>
      <span aria-hidden="true">
        <%= link_to "Sign out", '/users/sign_out', method: 'delete', class: "navbar-item" %>
      </span>
      <span aria-hidden="true">
        <%=link_to "Hi, #{current_user.username}", user_path(current_user), class: "navbar-item" %>
      </span>
    <% else %>
      <span aria-hidden="true">
        <%= link_to "Sign up", '/users/sign_up', class: "navbar-item"  %>
      </span>
      <span aria-hidden="true">
        <%= link_to "Sign in", '/users/sign_in', class: "navbar-item" %>
      </span>
    <% end %>
</nav>
