


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item"><%= link_to "Mement'ohs", root_path %></div>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"><%= link_to "Create", new_recipient_path %></span>
    <span aria-hidden="true"><% if current_user %><%= link_to "View Collection", recipients_path %><% end %></span>
    <span aria-hidden="true">
      <% if current_user %>
        <%= link_to "Sign out", '/users/sign_out', method: 'delete' %>
        <%=link_to "Hi, #{current_user.username}", user_path(current_user) %>
      <% else %>
       <%= link_to "Sign up", '/users/sign_up' %>
       <%= link_to "Sign in", '/users/sign_in' %>
     <% end %>
   </span>
  </a>
</nav>
